* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 100vw;
    height: 100vh;
}

.header-container {
    width: 100%;
    min-height: 80px;
    height: 15%;
    background-color: #325288;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    margin: 0px 20px;
    width: 100%;
    height: 80%;
    
    display: flex;
    align-items: center;
   
}

.name {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
}

.name:hover {
    cursor: pointer;
    color:rgb(56, 56, 56);
}

.main-container {
    width: 100vw;
    min-height: 400px;
    height: 85%;
    background-color: #f4eee8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    width: 60%;
    height: 95%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-button {
    width: 40px;
    height: 20px
}

.next-button {
    width: 40px;
    height: 20px
}

.comic-info-container {
    width: 75%;
    height: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.random-button {
    width: 100px;
    height: 35px;
}